           
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                         {{#if user}}
                        {{#ifCond user.adviser_role "admin"}}
                        <a class="dropdown-item" href="/signup"><i class="fa-solid fa-user-plus" > </i> Agregar Asesor</a></i>
                        {{/ifCond}}
                        
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/logout"> <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesion</a></li>

                        {{else}}
                        
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/signin">Iniciar Sesion</a></li>
                        {{/if}}
                    </ul>
                </li>
            </ul>

        